<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023167023864-f4i2tnjlfc6j8u0uv4kp7r7kd083qer2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023167023864-f4i2tnjlfc6j8u0uv4kp7r7kd083qer2</string>
	<key>API_KEY</key>
	<string>AIzaSyBxduGySjy5NlyVY44L7CAYZRaSch_OPUE</string>
	<key>GCM_SENDER_ID</key>
	<string>1023167023864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvosoftware.dadyjokes.qa</string>
	<key>PROJECT_ID</key>
	<string>dady-jokes-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dady-jokes-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023167023864:ios:2bcbe78c1371cd1c5b890d</string>
</dict>
</plist>